# Task 15: Data Wrangling: Join, Combine, and Reshape.

## Data Wrangling

What is 'Data Wrangling' ? 

Data Wrangling is the process of transforming and consolidating data from various sources into a format that is suitable for analysis. It involves tasks such as cleaning, filtering, merging, aggregating, reshaping, and transforming data.

## Importing Library

In [1]:
import pandas as pd
import numpy as np

## Importing Data

In [2]:
gameData1 = pd.read_csv("computer_games.csv")
gameData2 = pd.read_csv("games.csv")

## Exploring Data

In [3]:
# gameData1 Columns
print("\ngameData1 Columns\n")
print(gameData1.columns)

# gameData1 Head
print("\ngameData1 Head\n")
print(gameData1.head())

# gameData1 Tail
print("\ngameData1 Tail\n")
print(gameData1.tail())

# gameData1 Types
print("\ngameData1 Types\n")
print(gameData1.dtypes)

# gameData1 Shape
print("\ngameData1 Shape\n")
print(gameData1.shape)

# gameData1 Summary
print("\ngameData1 Summary\n")
print(gameData1.describe())

# gameData1 Info
print("\ngameData1 Info\n")
print(gameData1.info())


# Finding if there are missing values
print("\nMissing Values\n")
print(gameData1.isnull().sum())



# gameData2 Columns
print("\ngameData2 Columns\n")
gameData2.rename(columns={"Title":"Name"},inplace=True)
gameData2.rename(columns={"Release Date":"Date Released"},inplace=True)
print(gameData2.columns)

# gameData2 Head
print("\ngameData2 Head\n")
print(gameData2.head())

# gameData2 Tail
print("\ngameData2 Tail\n")
print(gameData2.tail())

# gameData2 Types
print("\ngameData2 Types\n")
print(gameData2.dtypes)

# gameData2 Shape
print("\ngameData2 Shape\n")
print(gameData2.shape)

# gameData2 Summary
print("\ngameData2 Summary\n")
print(gameData2.describe())

# gameData2 Info
print("\ngameData2 Info\n")
print(gameData2.info())


# Finding if there are missing values
print("\nMissing Values\n")
print(gameData2.isnull().sum())

gameData1 Columns

Index(['Name', 'Developer', 'Producer', 'Genre', 'Operating System',
       'Date Released'],
      dtype='object')

gameData1 Head

                                 Name                        Developer  \
0                             A-Men 2                     Bloober Team
1                             A-Train                          Artdink
2                          A-10 Cuba!              Parsoft Interactive
3                           A.D. 2044                  R.M.P. Software
4  A.D.A.M. Life's Greatest Mysteries  Columbia Healthcare Corporation

                          Producer                    Genre  \
0                     Bloober Team        Adventure, Puzzle
1   Artdink, Maxis, Ocean Software  Vehicle Simulation Game
2                       Activision         Flight simulator
3                        LK Avalon                Adventure
4  Columbia Healthcare Corporation              Educational

    Operating System      Date Released
0  Microsoft Windows      June 24, 2015
1       Windows, Mac               1985
2       Windows, Mac  November 30, 1996
3  Microsoft Windows  September 6, 1996
4  Microsoft Windows               1996

gameData1 Tail

                      Name               Developer         Producer  \
1090  688(I) Hunter/Killer          Sonalysts Inc.  Electronic Arts
1091              7 Colors              Gamos Ltd.       Infogrames
1092                  7554             Emobi Games      Emobi Games
1093            7th Legion  Vision, Epic MegaGames       MicroProse
1094    9: The Last Resort     Tribeca Interactive   GT Interactive

                     Genre          Operating System       Date Released
1090   Submarine simulator         Microsoft Windows        July 4, 1997
1091              Strategy                Amiga, DOS                1991
1092  First-person shooter         Microsoft Windows   December 16, 2011
1093                   RTS         Microsoft Windows  September 30, 1997
1094        Adventure game  Microsoft Windows, macOS  September 30, 1996

gameData1 Types

Name                object
Developer           object
Producer            object
Genre               object
Operating System    object
Date Released       object
dtype: object

gameData1 Shape

(1095, 6)

gameData1 Summary

                 Name Developer         Producer                 Genre  \
count            1095      1095             1095                  1095
unique           1094       583              489                   282
top     A Hat in Time     Maxis  Electronic Arts  First-person shooter
freq                2        30               84                   103

         Operating System Date Released
count                1095          1095
unique                 83           915
top     Microsoft Windows          1995
freq                  600             9

gameData1 Info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              1095 non-null   object
 1   Developer         1095 non-null   object
 2   Producer          1095 non-null   object
 3   Genre             1095 non-null   object
 4   Operating System  1095 non-null   object
 5   Date Released     1095 non-null   object
dtypes: object(6)
memory usage: 51.5+ KB
None

Missing Values

Name                0
Developer           0
Producer            0
Genre               0
Operating System    0
Date Released       0
dtype: int64

gameData2 Columns

Index(['Name', 'Date Released', 'Team', 'Rating', 'Times Listed',
       'Number of Reviews', 'Genres', 'Summary', 'Reviews', 'Plays', 'Playing',
       'Backlogs', 'Wishlist'],
      dtype='object')

gameData2 Head

                                      Name Date Released  \
0                               Elden Ring  Feb 25, 2022
1                                    Hades  Dec 10, 2019
2  The Legend of Zelda: Breath of the Wild  Mar 03, 2017
3                                Undertale  Sep 15, 2015
4                            Hollow Knight  Feb 24, 2017

                                                Team  Rating Times Listed  \
0     ['Bandai Namco Entertainment', 'FromSoftware']     4.5         3.9K
1                               ['Supergiant Games']     4.3         2.9K
2  ['Nintendo', 'Nintendo EPD Production Group No...     4.4         4.3K
3                                 ['tobyfox', '8-4']     4.2         3.5K
4                                    ['Team Cherry']     4.4           3K

  Number of Reviews                                             Genres  \
0              3.9K                               ['Adventure', 'RPG']
1              2.9K           ['Adventure', 'Brawler', 'Indie', 'RPG']
2              4.3K                               ['Adventure', 'RPG']
3              3.5K  ['Adventure', 'Indie', 'RPG', 'Turn Based Stra...
4                3K                 ['Adventure', 'Indie', 'Platform']

                                             Summary  \
0  Elden Ring is a fantasy, action and open world...
1  A rogue-lite hack and slash dungeon crawler in...
2  The Legend of Zelda: Breath of the Wild is the...
3  A small child falls into the Underground, wher...
4  A 2D metroidvania with an emphasis on close co...

                                             Reviews Plays Playing Backlogs  \
0  ["The first playthrough of elden ring is one o...   17K    3.8K     4.6K
1  ['convinced this is a roguelike for people who...   21K    3.2K     6.3K
2  ['This game is the game (that is not CS:GO) th...   30K    2.5K       5K
3  ['soundtrack is tied for #1 with nier automata...   28K     679     4.9K
4  ["this games worldbuilding is incredible, with...   21K    2.4K     8.3K

  Wishlist
0     4.8K
1     3.6K
2     2.6K
3     1.8K
4     2.3K

gameData2 Tail

                              Name Date Released                       Team  \
1507  Back to the Future: The Game  Dec 22, 2010         ['Telltale Games']
1508             Team Sonic Racing  May 21, 2019   ['Sumo Digital', 'Sega']
1509                Dragon's Dogma  May 22, 2012                 ['Capcom']
1510               Baldur's Gate 3  Oct 06, 2020         ['Larian Studios']
1511      The LEGO Movie Videogame  Feb 04, 2014  ['WB Games', 'TT Fusion']

      Rating Times Listed Number of Reviews  \
1507     3.2           94                94
1508     2.9          264               264
1509     3.7          210               210
1510     4.1          165               165
1511     2.8          184               184

                                                 Genres  \
1507                   ['Adventure', 'Point-and-Click']
1508                               ['Arcade', 'Racing']
1509                                 ['Brawler', 'RPG']
1510  ['Adventure', 'RPG', 'Strategy', 'Tactical', '...
1511                            ['Adventure', 'Puzzle']

                                                Summary  \
1507  Back to the Future: The Game is one of Telltal...
1508  Team Sonic Racing combines the best elements o...
1509  Set in a huge open world, Dragon’s Dogma: Dark...
1510  An ancient evil has returned to Baldur's Gate,...
1511  Join Emmet and an unlikely group of resistance...

                                                Reviews Plays Playing  \
1507  ['Very enjoyable game. The story adds onto the...   763       5
1508  ['jogo morto mas bom', 'not my cup of tea', "C...  1.5K      49
1509  ['Underrated.', 'A grandes rasgos, es como un ...  1.1K      45
1510  ['Bu türe bu oyunla girmeye çalışmak hataydı s...   269      79
1511  ['Legal', 'Pretty Average Lego Game But It Was...  1.7K      11

     Backlogs Wishlist
1507      223       67
1508      413      107
1509      487      206
1510      388      602
1511      239       73

gameData2 Types

Name                  object
Date Released         object
Team                  object
Rating               float64
Times Listed          object
Number of Reviews     object
Genres                object
Summary               object
Reviews               object
Plays                 object
Playing               object
Backlogs              object
Wishlist              object
dtype: object

gameData2 Shape

(1512, 13)

gameData2 Summary

            Rating
count  1499.000000
mean      3.719346
std       0.532608
min       0.700000
25%       3.400000
50%       3.800000
75%       4.100000
max       4.800000

gameData2 Info

<class 'pandas.core.frame.DataFrame'>
Index: 1512 entries, 0 to 1511
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               1512 non-null   object
 1   Date Released      1512 non-null   object
 2   Team               1511 non-null   object
 3   Rating             1499 non-null   float64
 4   Times Listed       1512 non-null   object
 5   Number of Reviews  1512 non-null   object
 6   Genres             1512 non-null   object
 7   Summary            1511 non-null   object
 8   Reviews            1512 non-null   object
 9   Plays              1512 non-null   object
 10  Playing            1512 non-null   object
 11  Backlogs           1512 non-null   object
 12  Wishlist           1512 non-null   object
dtypes: float64(1), object(12)
memory usage: 165.4+ KB
None

Missing Values

Name                  0
Date Released         0
Team                  1
Rating               13
Times Listed          0
Number of Reviews     0
Genres                0
Summary               1
Reviews               0
Plays                 0
Playing               0
Backlogs              0
Wishlist              0
dtype: int64

<h2>1. Merge two DataFrames on a single key.</h2>

**Merging DataFrame on a column called "Name"**

In [5]:
# Making Copy Of Data
dataFrame = gameData1.copy()

# Making 2 DataFrames
dataFrame1 = dataFrame[["Name","Developer","Genre"]]
dataFrame2 = dataFrame[["Name",'Producer','Operating System','Date Released']]

# Merging DataFrames
mergedDataFrame = dataFrame1.merge(dataFrame2,on="Name")

print(mergedDataFrame.head())

                                 Name                        Developer  \
0                             A-Men 2                     Bloober Team
1                             A-Train                          Artdink
2                          A-10 Cuba!              Parsoft Interactive
3                           A.D. 2044                  R.M.P. Software
4  A.D.A.M. Life's Greatest Mysteries  Columbia Healthcare Corporation

                     Genre                         Producer  \
0        Adventure, Puzzle                     Bloober Team
1  Vehicle Simulation Game   Artdink, Maxis, Ocean Software
2         Flight simulator                       Activision
3                Adventure                        LK Avalon
4              Educational  Columbia Healthcare Corporation

    Operating System      Date Released
0  Microsoft Windows      June 24, 2015
1       Windows, Mac               1985
2       Windows, Mac  November 30, 1996
3  Microsoft Windows  September 6, 1996
4  Microsoft Windows               1996

<h2>2. Merge two DataFrames on multiple keys.</h2>

**Merging DataFrames on multiple columns called "Name" and "Date Released"**

In [7]:
# Using Above Copy Of Data

# Making 2 DataFrames
dataFrame1 = dataFrame[['Name', 'Developer', 'Date Released']]
dataFrame2 = dataFrame[['Name', 'Producer', 'Operating System', 'Date Released','Genre']]

#Merging DataFrames
mergedDataFrame = dataFrame1.merge(dataFrame2, on=['Name', 'Date Released'])
print(mergedDataFrame.head())

                                 Name                        Developer  \
0                             A-Men 2                     Bloober Team
1                             A-Train                          Artdink
2                          A-10 Cuba!              Parsoft Interactive
3                           A.D. 2044                  R.M.P. Software
4  A.D.A.M. Life's Greatest Mysteries  Columbia Healthcare Corporation

       Date Released                         Producer   Operating System  \
0      June 24, 2015                     Bloober Team  Microsoft Windows
1               1985   Artdink, Maxis, Ocean Software       Windows, Mac
2  November 30, 1996                       Activision       Windows, Mac
3  September 6, 1996                        LK Avalon  Microsoft Windows
4               1996  Columbia Healthcare Corporation  Microsoft Windows

                     Genre
0        Adventure, Puzzle
1  Vehicle Simulation Game
2         Flight simulator
3                Adventure
4              Educational

<h2>3. Perform an outer join, inner join, left join, and right join.</h2>

What is *join* ? 

 a *join* is an operation that combines columns from two or more tables based on a related column between them. This operation is commonly used to merge DataFrames or tables in order to perform analyses that require data from multiple sources.

 Types of Joins: 
- inner join
- outer join
- left join
- right join 

each serving different purposes based on how you want to combine the data.

1. Inner Join 
Returns only the rows that have matching values in both DataFrames.

2. Outer Join
Returns all the rows from both DataFrames, with NaN where there is no match.

3. Left Join
Returns all rows from the left DataFrame and the matching rows from the right DataFrame. Rows from the left DataFrame without a match in the right DataFrame get NaN for columns from the right DataFrame.

4. Right Join
Returns all rows from the right DataFrame and the matching rows from the left DataFrame. Rows from the right DataFrame without a match in the left DataFrame get NaN for columns from the left DataFrame.

<h3> Inner Join</h3>

In [9]:
dataFrame1 = gameData1.copy()
dataFrame2 = gameData2.copy()

# Inner Join
joinedDataFrame = pd.merge(dataFrame1, dataFrame2,on='Name',how='inner')

print(joinedDataFrame)

# It just returns those rows that are matching in both dataframe by name

                          Name              Developer  \
0                A Hat in Time    Gears for Breakfast
1                    Alan Wake   Remedy Entertainment
2    Amnesia: The Dark Descent       Frictional Games
3    Amnesia: The Dark Descent       Frictional Games
4                 Apex Legends  Respawn Entertainment
..                         ...                    ...
288        Yakuza 3 Remastered                   SEGA
289              Yakuza Kiwami                   SEGA
290              Yakuza Kiwami                   SEGA
291              Yakuza Kiwami                   SEGA
292      Yakuza: Like a Dragon   Ryu ga Gotoku Studio

                                              Producer  \
0                                  Gears for Breakfast
1    Microsoft Game Studios, Remedy Entertainment, ...
2                                     Frictional Games
3                                     Frictional Games
4                                      Electronic Arts
..                                                 ...
288                                               SEGA
289                                               SEGA
290                                               SEGA
291                                               SEGA
292                                               SEGA

                              Genre                 Operating System  \
0        Platform, action-adventure         macOS, Microsoft Windows
1                   Survival horror                Microsoft Windows
2                       Horror game  Microsoft Windows, Linux, macOS
3                       Horror game  Microsoft Windows, Linux, macOS
4                     Battle royale                Microsoft Windows
..                              ...                              ...
288   Action Adventure, Beat 'em up                Microsoft Windows
289   Action Adventure, Beat 'em up                Microsoft Windows
290   Action Adventure, Beat 'em up                Microsoft Windows
291   Action Adventure, Beat 'em up                Microsoft Windows
292  Role-Playing Game, Beat 'em up                Microsoft Windows

       Date Released_x Date Released_y  \
0      October 5, 2017    Oct 05, 2017
1         May 14, 2010    May 14, 2010
2       August 8, 2010    Sep 08, 2010
3       August 8, 2010    Sep 08, 2010
4     February 4, 2019    Feb 04, 2019
..                 ...             ...
288   January 28, 2021    Aug 09, 2018
289  February 19, 2019    Jan 21, 2016
290  February 19, 2019    Jan 21, 2016
291  February 19, 2019    Jan 21, 2016
292  November 10, 2020    Jan 16, 2020

                                                  Team  Rating Times Listed  \
0             ['Humble Bundle', 'Gears for Breakfast']     4.0          898
1    ['Microsoft Game Studios', 'Remedy Entertainme...     3.6          702
2                                 ['Frictional Games']     3.5          525
3                                 ['Frictional Games']     3.5          525
4         ['Respawn Entertainment', 'Electronic Arts']     3.1          624
..                                                 ...     ...          ...
288                          ['Ryū Ga Gotoku Studios']     3.3          755
289                  ['Sega', 'Ryū Ga Gotoku Studios']     3.7         1.2K
290                  ['Sega', 'Ryū Ga Gotoku Studios']     3.7         1.2K
291                  ['Sega', 'Ryū Ga Gotoku Studios']     3.7         1.2K
292                  ['Sega', 'Ryū Ga Gotoku Studios']     4.3         1.6K

    Number of Reviews                                       Genres  \
0                 898           ['Adventure', 'Indie', 'Platform']
1                 702                     ['Adventure', 'Shooter']
2                 525             ['Adventure', 'Indie', 'Puzzle']
3                 525             ['Adventure', 'Indie', 'Puzzle']
4                 624                                  ['Shooter']
..                ...                                          ...
288               755            ['Adventure', 'RPG', 'Simulator']
289              1.2K              ['Adventure', 'Brawler', 'RPG']
290              1.2K              ['Adventure', 'Brawler', 'RPG']
291              1.2K              ['Adventure', 'Brawler', 'RPG']
292              1.6K  ['Adventure', 'RPG', 'Turn Based Strategy']

                                               Summary  \
0    A Hat in Time is a cute-as-heck 3D platformer ...
1    Presented in the style of a TV series, Alan Wa...
2    Amnesia: The Dark Descent is a survival horror...
3    Amnesia: The Dark Descent is a survival horror...
4    Conquer with character in Apex Legends, a free...
..                                                 ...
288  This is the third Yakuza game, remastered for ...
289  Yakuza Kiwami is a remake of the 2005 open wor...
290  Yakuza Kiwami is a remake of the 2005 open wor...
291  Yakuza Kiwami is a remake of the 2005 open wor...
292  Become Ichiban Kasuga, a low-ranking yakuza gr...

                                               Reviews Plays Playing Backlogs  \
0    ["It didn't really interest me and I got bored...  7.2K     320     2.7K
1    ["One of the first games I played on the Xbox ...  6.2K      96       2K
2    ["i haven't beaten the game but i do want to, ...  4.7K      86     1.8K
3    ["i haven't beaten the game but i do want to, ...  4.7K      86     1.8K
4    ['te odio', 'Boring and shite.', "One of the b...   12K     669      463
..                                                 ...   ...     ...      ...
288  ['茶番だ', 'rikiya didnt deserve this', 'i pirate...  4.3K     235     2.3K
289  ["This game is a really good game in it's own ...  9.7K     439     3.4K
290  ["This game is a really good game in it's own ...  9.7K     439     3.4K
291  ['Conseguiram pegar na mesma engine do 0 e tor...  9.7K     439     3.4K
292  ['I want Ichiban to be a real person', 'Goat t...    6K     847     4.8K

    Wishlist
0       1.6K
1        741
2        407
3        407
4         82
..       ...
288      904
289       1K
290       1K
291       1K
292     2.8K

[293 rows x 18 columns]

<h3> Outer Join</h3>

In [42]:
dataFrame1 = gameData1.copy()
dataFrame2 = gameData2.copy()

# Outer Join
joinedDataFrame = pd.merge(dataFrame1, dataFrame2,on='Name',how='outer')

print(joinedDataFrame)

#It returns those rows that are unique in either dataframe by name.

                        Name            Developer                 Producer  \
0                     0 A.D.       Wildfire Games           Wildfire Games
1                007 Legends              Eurocom               Activision
2       007: Licence to Kill               Quixel                   Domark
3     007: Quantum of Solace     Treyarch, Beenox  Activision, Square Enix
4         1-0 Soccer Manager     New Era Software             Wizard Games
...                      ...                  ...                      ...
2415                kkrieger         .theprodukkt             .theprodukkt
2416                    osu!         Dean Herbert     PPY Developments PTY
2417             ÜberSoldier  Burut Creative Team      Burut Creative Team
2418                Ōkami HD                  NaN                      NaN
2419                Ōkami HD                  NaN                      NaN

                     Genre                 Operating System  \
0                      RTS  Microsoft Windows, Linux, macOS
1     First-person shooter                Microsoft Windows
2         Top-down shooter                           MS-DOS
3     First-person shooter                Microsoft Windows
4       Sports, management                           MS-DOS
...                    ...                              ...
2415  First-person shooter                Microsoft Windows
2416         Rhythm, music         Microsoft Windows, macOS
2417  First-person shooter                Microsoft Windows
2418                   NaN                              NaN
2419                   NaN                              NaN

           Date Released  Release Date                         Team  Rating  \
0        August 16, 2010           NaN                          NaN     NaN
1       November 2, 2012           NaN                          NaN     NaN
2         April 20, 1989           NaN                          NaN     NaN
3       October 31, 2008           NaN                          NaN     NaN
4                   1992           NaN                          NaN     NaN
...                  ...           ...                          ...     ...
2415      April 30, 2004           NaN                          NaN     NaN
2416  September 16, 2007           NaN                          NaN     NaN
2417      March 29, 2006           NaN                          NaN     NaN
2418                 NaN  Oct 30, 2012  ['Clover Studio', 'Capcom']     4.2
2419                 NaN  Oct 30, 2012  ['Clover Studio', 'Capcom']     4.2

     Times Listed Number of Reviews                Genres  \
0             NaN               NaN                   NaN
1             NaN               NaN                   NaN
2             NaN               NaN                   NaN
3             NaN               NaN                   NaN
4             NaN               NaN                   NaN
...           ...               ...                   ...
2415          NaN               NaN                   NaN
2416          NaN               NaN                   NaN
2417          NaN               NaN                   NaN
2418          527               527  ['Adventure', 'RPG']
2419          527               527  ['Adventure', 'RPG']

                                                Summary  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
2415                                                NaN
2416                                                NaN
2417                                                NaN
2418  Experience the critically acclaimed masterpiec...
2419  Experience the critically acclaimed masterpiec...

                                                Reviews Plays Playing  \
0                                                   NaN   NaN     NaN
1                                                   NaN   NaN     NaN
2                                                   NaN   NaN     NaN
3                                                   NaN   NaN     NaN
4                                                   NaN   NaN     NaN
...                                                 ...   ...     ...
2415                                                NaN   NaN     NaN
2416                                                NaN   NaN     NaN
2417                                                NaN   NaN     NaN
2418  ['very beatiful and interesting as a whole', '...  3.3K     321
2419  ['very beatiful and interesting as a whole', '...  3.3K     321

     Backlogs Wishlist
0         NaN      NaN
1         NaN      NaN
2         NaN      NaN
3         NaN      NaN
4         NaN      NaN
...       ...      ...
2415      NaN      NaN
2416      NaN      NaN
2417      NaN      NaN
2418     3.1K     1.2K
2419     3.1K     1.2K

[2420 rows x 18 columns]

<h3> Left Join</h3>

In [55]:
dataFrame1 = gameData1.copy()
dataFrame2 = gameData2.copy()

# Left Join
joinedDataFrame = pd.merge(dataFrame1, dataFrame2,on='Name',how='left')


print(joinedDataFrame)

#It returns all the rows of the left dataframe and includes matching rows from the right dataframe based on the 'Name' column.

                                    Name                        Developer  \
0                                A-Men 2                     Bloober Team
1                                A-Train                          Artdink
2                             A-10 Cuba!              Parsoft Interactive
3                              A.D. 2044                  R.M.P. Software
4     A.D.A.M. Life's Greatest Mysteries  Columbia Healthcare Corporation
...                                  ...                              ...
1195                688(I) Hunter/Killer                   Sonalysts Inc.
1196                            7 Colors                       Gamos Ltd.
1197                                7554                      Emobi Games
1198                          7th Legion           Vision, Epic MegaGames
1199                  9: The Last Resort              Tribeca Interactive

                             Producer                    Genre  \
0                        Bloober Team        Adventure, Puzzle
1      Artdink, Maxis, Ocean Software  Vehicle Simulation Game
2                          Activision         Flight simulator
3                           LK Avalon                Adventure
4     Columbia Healthcare Corporation              Educational
...                               ...                      ...
1195                  Electronic Arts      Submarine simulator
1196                       Infogrames                 Strategy
1197                      Emobi Games     First-person shooter
1198                       MicroProse                      RTS
1199                   GT Interactive           Adventure game

              Operating System     Date Released_x Date Released_y Team  \
0            Microsoft Windows       June 24, 2015             NaN  NaN
1                 Windows, Mac                1985             NaN  NaN
2                 Windows, Mac   November 30, 1996             NaN  NaN
3            Microsoft Windows   September 6, 1996             NaN  NaN
4            Microsoft Windows                1996             NaN  NaN
...                        ...                 ...             ...  ...
1195         Microsoft Windows        July 4, 1997             NaN  NaN
1196                Amiga, DOS                1991             NaN  NaN
1197         Microsoft Windows   December 16, 2011             NaN  NaN
1198         Microsoft Windows  September 30, 1997             NaN  NaN
1199  Microsoft Windows, macOS  September 30, 1996             NaN  NaN

      Rating Times Listed Number of Reviews Genres Summary Reviews Plays  \
0        NaN          NaN               NaN    NaN     NaN     NaN   NaN
1        NaN          NaN               NaN    NaN     NaN     NaN   NaN
2        NaN          NaN               NaN    NaN     NaN     NaN   NaN
3        NaN          NaN               NaN    NaN     NaN     NaN   NaN
4        NaN          NaN               NaN    NaN     NaN     NaN   NaN
...      ...          ...               ...    ...     ...     ...   ...
1195     NaN          NaN               NaN    NaN     NaN     NaN   NaN
1196     NaN          NaN               NaN    NaN     NaN     NaN   NaN
1197     NaN          NaN               NaN    NaN     NaN     NaN   NaN
1198     NaN          NaN               NaN    NaN     NaN     NaN   NaN
1199     NaN          NaN               NaN    NaN     NaN     NaN   NaN

     Playing Backlogs Wishlist
0        NaN      NaN      NaN
1        NaN      NaN      NaN
2        NaN      NaN      NaN
3        NaN      NaN      NaN
4        NaN      NaN      NaN
...      ...      ...      ...
1195     NaN      NaN      NaN
1196     NaN      NaN      NaN
1197     NaN      NaN      NaN
1198     NaN      NaN      NaN
1199     NaN      NaN      NaN

[1200 rows x 18 columns]

<h3> Right Join</h3>

In [56]:
dataFrame1 = gameData1.copy()
dataFrame2 = gameData2.copy()

# Right Join
joinedDataFrame = pd.merge(dataFrame1, dataFrame2,on='Name',how='right')

print(joinedDataFrame)

#It returns all the rows of the right dataframe and includes matching rows from the left dataframe based on the 'Name' column.

                                         Name    Developer     Producer  \
0                                  Elden Ring          NaN          NaN
1                                       Hades          NaN          NaN
2     The Legend of Zelda: Breath of the Wild          NaN          NaN
3                                   Undertale     Toby Fox     Toby Fox
4                               Hollow Knight  Team Cherry  Team Cherry
...                                       ...          ...          ...
1508             Back to the Future: The Game          NaN          NaN
1509                        Team Sonic Racing          NaN          NaN
1510                           Dragon's Dogma       Capcom       Capcom
1511                          Baldur's Gate 3          NaN          NaN
1512                 The LEGO Movie Videogame          NaN          NaN

                                    Genre  \
0                                     NaN
1                                     NaN
2                                     NaN
3                                     RPG
4          Action adventure, Metroidvania
...                                   ...
1508                                  NaN
1509                                  NaN
1510  Action role-playing, hack and slash
1511                                  NaN
1512                                  NaN

                                       Operating System     Date Released_x  \
0                                                   NaN                 NaN
1                                                   NaN                 NaN
2                                                   NaN                 NaN
3                       Microsoft Windows, Linux, macOS  September 15, 2015
4     Microsoft Windows, macOS, Linux, Nintendo Swit...   February 24, 2017
...                                                 ...                 ...
1508                                                NaN                 NaN
1509                                                NaN                 NaN
1510                                  Microsoft Windows        May 22, 2012
1511                                                NaN                 NaN
1512                                                NaN                 NaN

     Date Released_y                                               Team  \
0       Feb 25, 2022     ['Bandai Namco Entertainment', 'FromSoftware']
1       Dec 10, 2019                               ['Supergiant Games']
2       Mar 03, 2017  ['Nintendo', 'Nintendo EPD Production Group No...
3       Sep 15, 2015                                 ['tobyfox', '8-4']
4       Feb 24, 2017                                    ['Team Cherry']
...              ...                                                ...
1508    Dec 22, 2010                                 ['Telltale Games']
1509    May 21, 2019                           ['Sumo Digital', 'Sega']
1510    May 22, 2012                                         ['Capcom']
1511    Oct 06, 2020                                 ['Larian Studios']
1512    Feb 04, 2014                          ['WB Games', 'TT Fusion']

      Rating Times Listed Number of Reviews  \
0        4.5         3.9K              3.9K
1        4.3         2.9K              2.9K
2        4.4         4.3K              4.3K
3        4.2         3.5K              3.5K
4        4.4           3K                3K
...      ...          ...               ...
1508     3.2           94                94
1509     2.9          264               264
1510     3.7          210               210
1511     4.1          165               165
1512     2.8          184               184

                                                 Genres  \
0                                  ['Adventure', 'RPG']
1              ['Adventure', 'Brawler', 'Indie', 'RPG']
2                                  ['Adventure', 'RPG']
3     ['Adventure', 'Indie', 'RPG', 'Turn Based Stra...
4                    ['Adventure', 'Indie', 'Platform']
...                                                 ...
1508                   ['Adventure', 'Point-and-Click']
1509                               ['Arcade', 'Racing']
1510                                 ['Brawler', 'RPG']
1511  ['Adventure', 'RPG', 'Strategy', 'Tactical', '...
1512                            ['Adventure', 'Puzzle']

                                                Summary  \
0     Elden Ring is a fantasy, action and open world...
1     A rogue-lite hack and slash dungeon crawler in...
2     The Legend of Zelda: Breath of the Wild is the...
3     A small child falls into the Underground, wher...
4     A 2D metroidvania with an emphasis on close co...
...                                                 ...
1508  Back to the Future: The Game is one of Telltal...
1509  Team Sonic Racing combines the best elements o...
1510  Set in a huge open world, Dragon’s Dogma: Dark...
1511  An ancient evil has returned to Baldur's Gate,...
1512  Join Emmet and an unlikely group of resistance...

                                                Reviews Plays Playing  \
0     ["The first playthrough of elden ring is one o...   17K    3.8K
1     ['convinced this is a roguelike for people who...   21K    3.2K
2     ['This game is the game (that is not CS:GO) th...   30K    2.5K
3     ['soundtrack is tied for #1 with nier automata...   28K     679
4     ["this games worldbuilding is incredible, with...   21K    2.4K
...                                                 ...   ...     ...
1508  ['Very enjoyable game. The story adds onto the...   763       5
1509  ['jogo morto mas bom', 'not my cup of tea', "C...  1.5K      49
1510  ['Underrated.', 'A grandes rasgos, es como un ...  1.1K      45
1511  ['Bu türe bu oyunla girmeye çalışmak hataydı s...   269      79
1512  ['Legal', 'Pretty Average Lego Game But It Was...  1.7K      11

     Backlogs Wishlist
0        4.6K     4.8K
1        6.3K     3.6K
2          5K     2.6K
3        4.9K     1.8K
4        8.3K     2.3K
...       ...      ...
1508      223       67
1509      413      107
1510      487      206
1511      388      602
1512      239       73

[1513 rows x 18 columns]

<h2>4. Concatenate two DataFrames along rows.</h2>

In [57]:
dataFrame1 = gameData1.copy()
dataFrame2 = gameData2.copy()

# Concatenate DataFrames along rows
concatenatedDataFrame = pd.concat([dataFrame1, dataFrame2],axis=0)

print(concatenatedDataFrame.head())

                                 Name                        Developer  \
0                             A-Men 2                     Bloober Team
1                             A-Train                          Artdink
2                          A-10 Cuba!              Parsoft Interactive
3                           A.D. 2044                  R.M.P. Software
4  A.D.A.M. Life's Greatest Mysteries  Columbia Healthcare Corporation

                          Producer                    Genre  \
0                     Bloober Team        Adventure, Puzzle
1   Artdink, Maxis, Ocean Software  Vehicle Simulation Game
2                       Activision         Flight simulator
3                        LK Avalon                Adventure
4  Columbia Healthcare Corporation              Educational

    Operating System      Date Released Team  Rating Times Listed  \
0  Microsoft Windows      June 24, 2015  NaN     NaN          NaN
1       Windows, Mac               1985  NaN     NaN          NaN
2       Windows, Mac  November 30, 1996  NaN     NaN          NaN
3  Microsoft Windows  September 6, 1996  NaN     NaN          NaN
4  Microsoft Windows               1996  NaN     NaN          NaN

  Number of Reviews Genres Summary Reviews Plays Playing Backlogs Wishlist
0               NaN    NaN     NaN     NaN   NaN     NaN      NaN      NaN
1               NaN    NaN     NaN     NaN   NaN     NaN      NaN      NaN
2               NaN    NaN     NaN     NaN   NaN     NaN      NaN      NaN
3               NaN    NaN     NaN     NaN   NaN     NaN      NaN      NaN
4               NaN    NaN     NaN     NaN   NaN     NaN      NaN      NaN

<h2>5. Concatenate two DataFrames along columns.</h2>

In [61]:
dataFrame1 = gameData1.copy()
dataFrame2 = gameData2.copy()

# Concatenate DataFrames along rows
concatenatedDataFrame = pd.concat([dataFrame1, dataFrame2],axis=1)

print(concatenatedDataFrame.head())

                                 Name                        Developer  \
0                             A-Men 2                     Bloober Team
1                             A-Train                          Artdink
2                          A-10 Cuba!              Parsoft Interactive
3                           A.D. 2044                  R.M.P. Software
4  A.D.A.M. Life's Greatest Mysteries  Columbia Healthcare Corporation

                          Producer                    Genre  \
0                     Bloober Team        Adventure, Puzzle
1   Artdink, Maxis, Ocean Software  Vehicle Simulation Game
2                       Activision         Flight simulator
3                        LK Avalon                Adventure
4  Columbia Healthcare Corporation              Educational

    Operating System      Date Released  \
0  Microsoft Windows      June 24, 2015
1       Windows, Mac               1985
2       Windows, Mac  November 30, 1996
3  Microsoft Windows  September 6, 1996
4  Microsoft Windows               1996

                                      Name Date Released  \
0                               Elden Ring  Feb 25, 2022
1                                    Hades  Dec 10, 2019
2  The Legend of Zelda: Breath of the Wild  Mar 03, 2017
3                                Undertale  Sep 15, 2015
4                            Hollow Knight  Feb 24, 2017

                                                Team  Rating Times Listed  \
0     ['Bandai Namco Entertainment', 'FromSoftware']     4.5         3.9K
1                               ['Supergiant Games']     4.3         2.9K
2  ['Nintendo', 'Nintendo EPD Production Group No...     4.4         4.3K
3                                 ['tobyfox', '8-4']     4.2         3.5K
4                                    ['Team Cherry']     4.4           3K

  Number of Reviews                                             Genres  \
0              3.9K                               ['Adventure', 'RPG']
1              2.9K           ['Adventure', 'Brawler', 'Indie', 'RPG']
2              4.3K                               ['Adventure', 'RPG']
3              3.5K  ['Adventure', 'Indie', 'RPG', 'Turn Based Stra...
4                3K                 ['Adventure', 'Indie', 'Platform']

                                             Summary  \
0  Elden Ring is a fantasy, action and open world...
1  A rogue-lite hack and slash dungeon crawler in...
2  The Legend of Zelda: Breath of the Wild is the...
3  A small child falls into the Underground, wher...
4  A 2D metroidvania with an emphasis on close co...

                                             Reviews Plays Playing Backlogs  \
0  ["The first playthrough of elden ring is one o...   17K    3.8K     4.6K
1  ['convinced this is a roguelike for people who...   21K    3.2K     6.3K
2  ['This game is the game (that is not CS:GO) th...   30K    2.5K       5K
3  ['soundtrack is tied for #1 with nier automata...   28K     679     4.9K
4  ["this games worldbuilding is incredible, with...   21K    2.4K     8.3K

  Wishlist
0     4.8K
1     3.6K
2     2.6K
3     1.8K
4     2.3K

<h2>6. Concatenate a list of DataFrames.</h2>

In [66]:
# Making 4 DataFrame with different columns

dataFrame1 = gameData1[['Name', 'Developer', 'Genre']].copy()
dataFrame2 = gameData1[['Producer', 'Date Released', 'Operating System']].copy()
dataFrame3 = gameData2[['Name', 'Summary', 'Genres']].copy()
dataFrame4 = gameData2[['Team', 'Date Released', 'Rating']].copy()


# Concatenate DataFrames along rows

concatenatedDataFrame = pd.concat([dataFrame1, dataFrame2, dataFrame3, dataFrame4], axis=0)

print(concatenatedDataFrame.head())

                                 Name                        Developer  \
0                             A-Men 2                     Bloober Team
1                             A-Train                          Artdink
2                          A-10 Cuba!              Parsoft Interactive
3                           A.D. 2044                  R.M.P. Software
4  A.D.A.M. Life's Greatest Mysteries  Columbia Healthcare Corporation

                     Genre Producer Date Released Operating System Summary  \
0        Adventure, Puzzle      NaN           NaN              NaN     NaN
1  Vehicle Simulation Game      NaN           NaN              NaN     NaN
2         Flight simulator      NaN           NaN              NaN     NaN
3                Adventure      NaN           NaN              NaN     NaN
4              Educational      NaN           NaN              NaN     NaN

  Genres Team  Rating
0    NaN  NaN     NaN
1    NaN  NaN     NaN
2    NaN  NaN     NaN
3    NaN  NaN     NaN
4    NaN  NaN     NaN

<h2>7. Reshape data using the melt function to go from wide to long format.</h2>

What does melt() funciton do ?

The melt() function takes multiple columns and condenses them into key-value pairs, making the data more accessible and easier to work with.

In [17]:
pd.set_option('display.max_rows', 50)

dataFrame1 = gameData1.copy()

# Reshape DataFrame from wide to long format

meltedDataFrame = pd.melt(dataFrame1, id_vars=['Name', 'Developer', 'Genre'], var_name='Attribute', value_name='Value')
meltedDataFrame

# It converts the columns into rows and values into columns.

,Name,Developer,Genre,Attribute,Value
0,A-Men 2,Bloober Team,"Adventure, Puzzle",Producer,Bloober Team
1,A-Train,Artdink,Vehicle Simulation Game,Producer,"Artdink, Maxis, Ocean Software"
2,A-10 Cuba!,Parsoft Interactive,Flight simulator,Producer,Activision
3,A.D. 2044,R.M.P. Software,Adventure,Producer,LK Avalon
4,A.D.A.M. Life's Greatest Mysteries,Columbia Healthcare Corporation,Educational,Producer,Columbia Healthcare Corporation
...,...,...,...,...,...
3280,688(I) Hunter/Killer,Sonalysts Inc.,Submarine simulator,Date Released,"July 4, 1997"
3281,7 Colors,Gamos Ltd.,Strategy,Date Released,1991
3282,7554,Emobi Games,First-person shooter,Date Released,"December 16, 2011"
3283,7th Legion,"Vision, Epic MegaGames",RTS,Date Released,"September 30, 1997"
3284,9: The Last Resort,Tribeca Interactive,Adventure game,Date Released,"September 30, 1996"

Now if i wanted the inforamtion of 'Producer', then i can get it using below command

In [69]:
print(meltedDataFrame[meltedDataFrame["Attribute"]=="Producer"])

                                    Name                        Developer  \
0                                A-Men 2                     Bloober Team
1                                A-Train                          Artdink
2                             A-10 Cuba!              Parsoft Interactive
3                              A.D. 2044                  R.M.P. Software
4     A.D.A.M. Life's Greatest Mysteries  Columbia Healthcare Corporation
...                                  ...                              ...
1090                688(I) Hunter/Killer                   Sonalysts Inc.
1091                            7 Colors                       Gamos Ltd.
1092                                7554                      Emobi Games
1093                          7th Legion           Vision, Epic MegaGames
1094                  9: The Last Resort              Tribeca Interactive

                        Genre Attribute                            Value
0           Adventure, Puzzle  Producer                     Bloober Team
1     Vehicle Simulation Game  Producer   Artdink, Maxis, Ocean Software
2            Flight simulator  Producer                       Activision
3                   Adventure  Producer                        LK Avalon
4                 Educational  Producer  Columbia Healthcare Corporation
...                       ...       ...                              ...
1090      Submarine simulator  Producer                  Electronic Arts
1091                 Strategy  Producer                       Infogrames
1092     First-person shooter  Producer                      Emobi Games
1093                      RTS  Producer                       MicroProse
1094           Adventure game  Producer                   GT Interactive

[1095 rows x 5 columns]

<h2>8. Create a pivot table to summarize data.</h2>

<h4>1. Importing the spotify data</h4>

In [292]:
# Importing the spotify data
import chardet

with open("spotify.csv", 'rb') as f: # This loop for finding the encoding scheme as pd.read_csv was giving error without encoding scheme
    result = chardet.detect(f.read())
    encoding = result['encoding']

spotifyDataFrame = pd.read_csv("spotify.csv", encoding=encoding)

<h4>2. Exploring Data </h4>

In [314]:
import datetime
spotifyData = spotifyDataFrame.copy()

#Cleaning Data
spotifyData.drop(["TIDAL Popularity",'SiriusXM Spins',"Amazon Playlist Count","Pandora Streams","Pandora Track Stations"],axis = 1,inplace=True)
spotifyData["Release Date"] = pd.to_datetime(spotifyData["Release Date"])

# Handling Missing Values
spotifyData["Soundcloud Streams"] = spotifyData["Soundcloud Streams"].fillna("0,").astype('object')

#Dropping Null Values
spotifyData.dropna(inplace=True,axis=0)

Index(['Track', 'Album Name', 'Artist', 'Release Date', 'ISRC',
       'All Time Rank', 'Track Score', 'Spotify Streams',
       'Spotify Playlist Count', 'Spotify Playlist Reach',
       'Spotify Popularity', 'YouTube Views', 'YouTube Likes', 'TikTok Posts',
       'TikTok Likes', 'TikTok Views', 'YouTube Playlist Reach',
       'Apple Music Playlist Count', 'AirPlay Spins', 'SiriusXM Spins',
       'Deezer Playlist Count', 'Deezer Playlist Reach',
       'Amazon Playlist Count', 'Pandora Streams', 'Pandora Track Stations',
       'Soundcloud Streams', 'Shazam Counts', 'TIDAL Popularity',
       'Explicit Track'],
      dtype='object')

Track                          object
Album Name                     object
Artist                         object
Release Date                   object
ISRC                           object
All Time Rank                  object
Track Score                   float64
Spotify Streams                object
Spotify Playlist Count         object
Spotify Playlist Reach         object
Spotify Popularity            float64
YouTube Views                  object
YouTube Likes                  object
TikTok Posts                   object
TikTok Likes                   object
TikTok Views                   object
YouTube Playlist Reach         object
Apple Music Playlist Count    float64
AirPlay Spins                  object
SiriusXM Spins                 object
Deezer Playlist Count         float64
Deezer Playlist Reach          object
Amazon Playlist Count         float64
Pandora Streams                object
Pandora Track Stations         object
Soundcloud Streams             object
Shazam Counts                  object
TIDAL Popularity              float64
Explicit Track                  int64
dtype: object
(2406, 24)

<h4> 3. Now Making Pivot Table </h4>

In [315]:
# I am finding the lifetime streams of a Artist

spotifyData['Spotify Streams'] = spotifyData['Spotify Streams'].str.replace(',', '').astype('int64')
spotifyData['YouTube Views'] = spotifyData['YouTube Views'].str.replace(',', '').astype('int64')
spotifyData['Soundcloud Streams'] = spotifyData['Soundcloud Streams'].str.replace(',', '').astype('int64')

In [316]:
pivotTable = spotifyData.pivot_table(values=["Spotify Streams", "YouTube Views","Soundcloud Streams"], index="Artist", aggfunc="sum",)
pivotTable["Total"] = pivotTable["Spotify Streams"] + pivotTable["YouTube Views"] + pivotTable["Soundcloud Streams"]
pivotTable = pivotTable.sort_values(by="Total", ascending=False)
print(pivotTable.head())

               Soundcloud Streams  Spotify Streams  YouTube Views        Total
Artist
Bad Bunny                93337883      33461478433    23052719792  56607536108
Taylor Swift              9630268      25537940176    19272453308  44820023752
Ariana Grande            17246772      21583395634    19074195946  40674838352
The Weeknd              181367516      26985173294    13319900898  40486441708
Justin Bieber             1135731      16647801287    19336283617  35985220635

<h2> 9. Group data by one or more columns and perform aggregation functions (e.g., sum, mean, count).</h>

In [319]:
groupedData = spotifyData.groupby(spotifyData["Release Date"].dt.year)[["Spotify Streams","YouTube Views","Soundcloud Streams"]].agg(['sum'])
groupedData.sort_values(by="Release Date",ascending=False)

             Spotify Streams YouTube Views Soundcloud Streams
                         sum           sum                sum
Release Date
2024              6602788060    2428631997           43246517
2023            103730080991   51010846314          615703781
2022            152884275488   74402998581          994520157
2021            140043906858   80381081525          852649062
2020            159938116457  109356968471         1446950518
2019            178980527275  132522954491         2989372896
2018            159469536573  133273122265         2884546729
2017            147772290107  156095554767         1634072472
2016             96981850838  104950705942         1257030689
2015             73234353138   80312829493          693054163
2014             51762861701   65041128973          797629685
2013             45851621043   43576280172          294143436
2012             41211867468   39269717409          106260383
2011             47706760924   47681733006          321113331
2010             23680090416   28545449227           30245299
2009             12097330962   10349704947           65328455
2008             12871154068    6729406260           65892301
2007              5111949512    3068469960           13933092
2006              1194124781     810297837            6774273
2005              4704510394    4313541621           18800874
2004              6133583636    2624305377             139191
2003              2787213775    1719825711                  0
2002              9063840343    6675818246           49719040
2001               399145178    1632844702                  0
2000              3843533100    3336687517           30551676
1998               178339925    1499385808                  0
1994              1810649765     824500156            1273462
1991              2021910364     348081676           13047851
1987              1879386440    2007460784                  0

<h2>10. Apply multiple aggregation functions to grouped data.</h2>

In [343]:
groupedData = spotifyData.groupby(spotifyData["Release Date"].dt.year)[["Spotify Streams","YouTube Views","Soundcloud Streams"]].agg(['sum','max','min'])
groupedData.sort_values(by="Release Date",ascending=False)

             Spotify Streams                         YouTube Views  \
                         sum         max         min           sum
Release Date
2024              6602788060   675079153     8757910    2428631997
2023            103730080991  2031280633    10292715   51010846314
2022            152884275488  3301814535     7383901   74402998581
2021            140043906858  2184754018     4224438   80381081525
2020            159938116457  2996181078    18566967  109356968471
2019            178980527275  4281468720    27747363  132522954491
2018            159469536573  3427498835    41808541  133273122265
2017            147772290107  3909458734    54678867  156095554767
2016             96981850838  3291262413    71345247  104950705942
2015             73234353138  2423583406    83366020   80312829493
2014             51762861701  2235160830    65098757   65041128973
2013             45851621043  2544489950    10019831   43576280172
2012             41211867468  2382407025   396015053   39269717409
2011             47706760924  2502925593    11477477   47681733006
2010             23680090416  2099862852   210904340   28545449227
2009             12097330962  1587114096   481414844   10349704947
2008             12871154068  1878098512   643828366    6729406260
2007              5111949512  1660504577   858734232    3068469960
2006              1194124781  1194124781  1194124781     810297837
2005              4704510394  2102223775    16326628    4313541621
2004              6133583636  2174022106   971172980    2624305377
2003              2787213775  1657866786  1129346989    1719825711
2002              9063840343  2194935773   859999247    6675818246
2001               399145178   399145178   399145178    1632844702
2000              3843533100  2045512421  1798020679    3336687517
1998               178339925   178339925   178339925    1499385808
1994              1810649765  1810649765  1810649765     824500156
1991              2021910364  2021910364  2021910364     348081676
1987              1879386440  1879386440  1879386440    2007460784

                                      Soundcloud Streams
                      max         min                sum        max       min
Release Date
2024            359896095     3466744           43246517    7208651         0
2023           1102289596      329644          615703781   33130829         0
2022           1516863120     3464827          994520157   48937045         0
2021           1431591689     1271445          852649062   69864802         0
2020           2638957320     1349513         1446950518   92358945         0
2019           3366447481    17978707         2989372896  168458097         0
2018           3435321800    26434293         2884546729  257459352         0
2017           9537135721    29708407         1634072472  319835943         0
2016           4086121880    25097411         1257030689  212661473         0
2015          16322756555    28931814          693054163  137005114         0
2014           4151880976    11099856          797629685  205958155         0
2013           4386626671     2990740          294143436   74446604         0
2012           5849588091    20942928          106260383   29413705         0
2011           5644117304    11457166          321113331  231244214         0
2010           3312260344   165856240           30245299   12825913         0
2009           2049116263   206057670           65328455   45784258         0
2008           1600713698   256379013           65892301   54924850         0
2007           1266946594   519089248           13933092   12036328         0
2006            810297837   810297837            6774273    6774273   6774273
2005           1663636127     7603329           18800874   18800874         0
2004           1200224642   183968852             139191     139191         0
2003           1380253721   339571990                  0          0         0
2002           1864046384   347730526           49719040   36224403         0
2001           1632844702  1632844702                  0          0         0
2000           2375021286   961666231           30551676   29420155   1131521
1998           1499385808  1499385808                  0          0         0
1994            824500156   824500156            1273462    1273462   1273462
1991            348081676   348081676           13047851   13047851  13047851
1987           2007460784  2007460784                  0          0         0

This is showing sum of all platforms views and streams with the min and max yearly values of a track streamed

<h2>11. Use the groupby function to group data and apply custom functions.</h2>

In [361]:
def getHighestViewedTrack(x): 
    x["Total Views"] = x["Spotify Streams"] + x["YouTube Views"] + x["Soundcloud Streams"]
    return x.loc[x["Total Views"].idxmax()]["Track"]

def getHighestViewedArtist(x):
    x["Total Views"] = x["Spotify Streams"] + x["YouTube Views"] + x["Soundcloud Streams"]
    return x.loc[x["Total Views"].idxmax()]["Artist"]


topPick = pd.DataFrame()

topPick["Title"] = spotifyData.groupby(spotifyData["Release Date"].dt.year).apply(getHighestViewedTrack)

topPick["Artist"] = spotifyData.groupby(spotifyData["Release Date"].dt.year).apply(getHighestViewedArtist)
print(topPick)
groupedData = spotifyData.groupby(spotifyData["Release Date"].dt.year)[["Spotify Streams","YouTube Views","Soundcloud Streams"]].sum()

# Now we are merging topPick and groupedData
mergedData = groupedData.merge(topPick,left_index = True,right_on = "Release Date") # Using this line we are merging topPick and groupedData using Release Data present in both Dataframes

mergedData.sort_values(by="Release Date",ascending=False)

mergedData

                                                      Title  \
Release Date
1987                                    Sweet Child O' Mine
1991                                Smells Like Teen Spirit
1994                        All I Want for Christmas Is You
1998                                        Beautiful Girls
2000                                             In the End
2001                                       Over the Rainbow
2002                                          The Scientist
2003                                       Bring Me To Life
2004                       Yeah! (feat. Lil Jon & Ludacris)
2005                                           Viva La Vida
2006                                            Promiscuous
2007                                               Umbrella
2008                                     You Belong With Me
2009                                            Bad Romance
2010                                   Love The Way You Lie
2011                                            Uptown Funk
2012                        Gangnam Style (ï¿½ï¿½ï¿½ï¿½ï¿½ï
2013                                                   Roar
2014                                                  Sugar
2015                                             Baby Shark
2016                                                 Closer
2017                                           Shape of You
2018          Sunflower - Spider-Man: Into the Spider-Verse
2019                                           Dance Monkey
2020                                               Dynamite
2021                                        drivers license
2022                                              As It Was
2023                                                Flowers
2024                                              Gata Only

                             Artist
Release Date
1987                  Guns N' Roses
1991                        Nirvana
1994                   Mariah Carey
1998                  Sean Kingston
2000                    Linkin Park
2001          Israel Kamakawiwo'ole
2002                       Coldplay
2003                    Evanescence
2004                          USHER
2005                       Coldplay
2006                  Nelly Furtado
2007                        Rihanna
2008                   Taylor Swift
2009                      Lady Gaga
2010                         Eminem
2011                    Mark Ronson
2012                            PSY
2013                     Katy Perry
2014                       Maroon 5
2015                       Pinkfong
2016               The Chainsmokers
2017                     Ed Sheeran
2018                    Post Malone
2019                    Tones And I
2020                            BTS
2021                 Olivia Rodrigo
2022                   Harry Styles
2023                    Miley Cyrus
2024                     FloyyMenor

,Spotify Streams,YouTube Views,Soundcloud Streams,Title,Artist
Release Date,,,,,
1987,1879386440,2007460784,0,Sweet Child O' Mine,Guns N' Roses
1991,2021910364,348081676,13047851,Smells Like Teen Spirit,Nirvana
1994,1810649765,824500156,1273462,All I Want for Christmas Is You,Mariah Carey
1998,178339925,1499385808,0,Beautiful Girls,Sean Kingston
2000,3843533100,3336687517,30551676,In the End,Linkin Park
2001,399145178,1632844702,0,Over the Rainbow,Israel Kamakawiwo'ole
2002,9063840343,6675818246,49719040,The Scientist,Coldplay
2003,2787213775,1719825711,0,Bring Me To Life,Evanescence
2004,6133583636,2624305377,139191,Yeah! (feat. Lil Jon & Ludacris),USHER
2005,4704510394,4313541621,18800874,Viva La Vida,Coldplay
2006,1194124781,810297837,6774273,Promiscuous,Nelly Furtado
2007,5111949512,3068469960,13933092,Umbrella,Rihanna
2008,12871154068,6729406260,65892301,You Belong With Me,Taylor Swift
2009,12097330962,10349704947,65328455,Bad Romance,Lady Gaga
2010,23680090416,28545449227,30245299,Love The Way You Lie,Eminem
2011,47706760924,47681733006,321113331,Uptown Funk,Mark Ronson
2012,41211867468,39269717409,106260383,Gangnam Style (ï¿½ï¿½ï¿½ï¿½ï¿½ï,PSY
2013,45851621043,43576280172,294143436,Roar,Katy Perry
2014,51762861701,65041128973,797629685,Sugar,Maroon 5
2015,73234353138,80312829493,693054163,Baby Shark,Pinkfong
2016,96981850838,104950705942,1257030689,Closer,The Chainsmokers
2017,147772290107,156095554767,1634072472,Shape of You,Ed Sheeran
2018,159469536573,133273122265,2884546729,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone
2019,178980527275,132522954491,2989372896,Dance Monkey,Tones And I
2020,159938116457,109356968471,1446950518,Dynamite,BTS
2021,140043906858,80381081525,852649062,drivers license,Olivia Rodrigo
2022,152884275488,74402998581,994520157,As It Was,Harry Styles
2023,103730080991,51010846314,615703781,Flowers,Miley Cyrus
2024,6602788060,2428631997,43246517,Gata Only,FloyyMenor